.datapoint-acid {
    color: rgb(255,0,0);
}

.datapoint-base {
    color: rgb(0,0,255);
}

.datapoint-pH {
    color: rgb(125,0,125);
}

/* Table */
.datatable table {
    border-collapse: collapse;
    width: 100%;
}

.datatable th{
    font-weight: bold;
}

.datatable td, .datatable th{
    border: 1px solid rgb(200,200,200);
    text-align: center;
    font-size: 1vw;
    padding: .5vw;
}

.datatable tr:nth-child(even) {
    background-color: rgb(240,240,240);
}